<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/confirm.css">
  <title>Thank You!</title>

</head>
<body>

  <main>
    
    <img src = "/images/green-checkmark.jpg">
    <h1>Thank you for your order!</h1>
    <p id="subtitle">Your ice cream order has been confirmed.</p>

    <div id="inner">
      <h2>Personal Information</h2>

      <h3>Name:</h3> <p><%# submission.name %></p>
      <h3>Email:</h3> <p><%# submission.email %></p>

      <h2>Order Details</h2>
      <h3>Flavor:</h3> <p><%# submission.flavor %></p>
      <h3>Cone:</h3> <p><%# submission.cone_type %></p>
      <h3>Toppings:</h3>  <p class="topping">Testing<%# Array.isArray(submission.toppings) ?
                    submission.toppings.join('</p> class="topping"> <p>') :
                    "None" %></p>

      <h2>Additional Comments</h2>
      <p id="comment"> <%# if (submission.comment) ? submission.comment : "None" %></p>

    </div>
    
    <div id = "buttons-div">
      <button id="print">Print Order</button>
      <button onclick="location.href='/'" id="another-order">Place another order</button>
    </div>


  </main>

</body>
</html>