* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  min-height: 100vh;
  overflow: auto;
}


body {
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  background-color: white;
  width: 35%;
  margin: auto;
  margin-top: 4rem;
  padding: 1rem;
  padding-top: 1.5rem;
  border-radius: 15px;
}

h1, #subtitle {
  text-align: center;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1rem;
  color: green;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.7rem;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  display: inline;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

img {
  display: block;
  width: 5rem;
  margin: auto;
  margin-bottom: 1rem;
}

#inner {
  margin: 3rem;
}

#inner p {
  display: inline-block;
}

#inner p::first-letter {
  text-transform: uppercase;
}

.topping {
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  color: white;
  text-transform: capitalize;
  border-radius: 25px;
  display: inline;
  padding: 0.3rem;
  font-size: 0.9rem;
}

#comment {
  font-size: 0.9rem;
  padding: 0.6rem;
  border-radius: 5px;
  box-shadow: -2px 0px blue;
  font-style: italic;
}

#buttons-div {
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 0.7rem 0rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  width: 250px;
}

#print {
  border: 2px solid blue;
  background-color: white;
  color: blue;
}

#another-order {
  border: 2px solid green;
  background-color: green;
  color: white;
}

footer {
  text-align: center;
  padding: 0.5rem;
}

@media screen and (max-width: 1142px) {
  main {
    width: 60%;
  }
}


@media screen and (max-width: 650px) {
  #buttons-div {
    flex-direction: column;
  }

  #inner {
    margin: 1.5rem;
  }

  main {
    width: 75%;
  }
}

