* {
  font-family: sans-serif;
}

body {
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  height: 100vh;
}

main {
  background-color: white;
  width: 45%;
  margin: auto;
  margin-top: 4rem;
  padding-top: 1.5rem;
  border-radius: 15px;
}

h1, #subtitle {
  text-align: center;
}

h2 {
  font-size: 1rem;
  color: green;
  text-transform: uppercase;
}

img {
  display: block;
  width: 5rem;
  margin: auto;
}

#inner {
  margin: 3rem;
}

.topping {
  background-color: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  color: white;
  border-radius: 10px;
}

#comment {
  font-size: 0.9rem;
  padding: 0.6rem;
  border-radius: 5px;
  box-shadow: -2px 0px blue;
  font-style: italic;
}

#buttons-div {
  margin: auto;
  width: fit-content;
}



